section {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  &.show {
    visibility: visible;
    .fader {
      opacity: 0.7;
    }
    .banner {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
}

.banner {
  text-align: center;
  opacity: 0;
  transform: scale3d(3, 3, 3);
  transition: all 0.5s;
  h1 {
    margin: 0;
    text-transform: uppercase;
  }
  h3 {
    color: #666;
  }
  button {
    outline: none;
    border: 3px solid black;
    padding: 1em 2em;
    background-color: greenyellow;
    transition: all 0.3s;
    &:hover {
      transform: rotate3d(1, 1, 0, 20deg);
      color: white;
    }
  }
}

.fader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s;
}
